body{
    text-align: center;
    font-family: 'open sans', sans-serif;
    background-color: #8a71c9;
    color: #ffffff;
    margin: 0px 0px 30px 0px;
}

h1{
    font-size: 60px;
    font-weight: 300;
}

h2{
    color: #2a0074;
    font-size: 40px;
}

h3{
    font-size:22px;
    font-style: italic;
}

.titulo-infancia{
    color: #04ff9f;
}

.titulo-juventude{
    color: #FF9E9E;
}

.titulo-vida-adulta{
    color: #ffe36d;
}

section{
    width: 60%;
    margin: 0 auto;   
}


section section{
    width: 100%;
}

p{
    line-height: 1.5;
    font-size: 20px;
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
    line-height: 2;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: #99ffff;
    font-weight: 700;
}

.paragraph-rodape{
    font-family: 'Courier New', Courier, monospace;
}

#link-topo{
    text-decoration: none;
    color: aliceblue;
    background-color: #2a0074;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 3px 3px 10px #ffffff;
    z-index:1;
}

.menu-principal a{
    color: #ffffff;
    text-decoration: underline;
    font-weight: normal;
    font-size: larger;
}

.menu-principal{
    background-color: plum;
    height: 40px;
    max-width: 60%;
    margin:  0 auto;
}

.menu-principal li{
    display: inline-block;
    line-height: 2;
    margin: 0 89px;
}

button{
    background-color: plum;
    border: solid transparent 1px;
    padding: 2px 20px;
    border-radius: 3px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a0074;
    height: 3vh;
    position: absolute;
    width: 100%;
}

form{
    margin: 10px;
}